body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* Container styles */
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Header styles */
.header-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container img {
    height: 150px;
    margin-right: 15px;
}

.header-container h1 {
    font-size: 2rem;
    color: #333;
    margin: 0;
}


#produtos, #sobre, #contato {
    margin: 20px 0;
}

/* Centered content styles */
.centered-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Product grid styles */
.produto-grid {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens quebrem para a próxima linha */
    justify-content: space-around; /* Distribui espaço entre os itens */
}

.produto {
    width: 23%; /*  Aproximadamente 25% para 4 itens por linha, ajuste se necessário */
    margin: 5px; /* Espaçamento entre as imagens */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    /* ... outros estilos da classe .produto ... */
}

.produto img {
    width: 100%; /* As imagens ocupam toda a largura do container */
    height: auto; /* Mantém a proporção das imagens */
    display: block; /* Remove espaços em branco abaixo das imagens */
}


.botao-comprar {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.botao-comprar:hover {
    background-color: #45a049;
}


footer img {
    max-width: 30px;
    height: auto;
}

.logo {
    max-width: 150px;
    height: auto;
}

.lista-centralizada {
    display: flex;
    justify-content: center;
}

.lista-centralizada ul {
    text-align: left;
}

/* Hero section styles */
.hero h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

.header-subtitle {
    font-size: 1.2rem;
    color: #6c757d;
}

/* 3D printing section styles */
.impressao-3d .img-container {
    width: 80%;
    margin: 0 auto;
}

.impressao-3d img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .impressao-3d .img-container {
        width: 100%;
        max-width: 400px;
    }

    .impressao-3d img {
        border-radius: 50%;
    }
}

/* Button styles */
.mbr-section-btn-main .btn-secondary {
    background-color: #007bff;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.mbr-section-btn-main .btn-secondary:hover {
    background-color: #0056b3;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .produto {
        width: 45%;
    }
}
