.hero {
    background-color: #f8f9fa;
}
.hero .container {
    display: flex;
    flex-direction: column; /* Itens empilhados verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente (opcional, mas bom para headers altos) */
    text-align: center; /* Centraliza o texto dentro dos elementos filhos */
    min-height: 200px; /* Garante um altura mínima para o header, ajusta conforme necessário */
}

.hero .row { /* Remove a necessidade do align-items-center na row */
    align-items: initial; 
    width: 100%; /* Ocupar toda a largura */
}

.feature-icon {
    font-size: 2em; /* Tamanho reduzido para melhor ajuste nos cards */
}

.card {
    text-align: center; /* Centraliza o conteúdo dentro do card */
}

.features .col {
    margin-bottom: 20px; /* Espaçamento vertical */
}

/* Responsividade para ícones maiores em telas maiores */
@media (min-width: 768px) {
  .feature-icon {
    font-size: 3em;
  }
}

.btn.disabled:hover {
    background-color: #007bff; /* Mantém a cor original quando desabilitado */
}
}
.logo {
    max-width: 30px;
    height: auto;
    display: block; /* Essencial para centralizar a imagem sozinha */
    margin: 0 auto 20px;
}
footer img {
            max-width: 30px; /* ou um valor que você achar adequado */
            height: auto;
        }
