.hero {
    background-color: #f8f9fa;
}

.feature-icon {
    font-size: 2em; /* Tamanho reduzido para melhor ajuste nos cards */
}

.card {
    text-align: center; /* Centraliza o conteúdo dentro do card */
}

/* Responsividade para ícones maiores em telas maiores */
@media (min-width: 768px) {
  .feature-icon {
    font-size: 3em;
  }
}

.btn.disabled:hover {
    background-color: #007bff; /* Mantém a cor original quando desabilitado */
}
}
footer img {
            max-width: 30px; /* ou um valor que você achar adequado */
            height: auto;
        }
.logo { /* Estilizando o logo */
            max-width: 200px; /* Ajuste o valor conforme necessário */
            height: auto;
        }
footer {
            background-color: black;
            color: white;
            display: flex;
            flex-direction: column; /* Alinha itens verticalmente */
            justify-content: center; /* Centraliza verticalmente */
            align-items: center; /* Centraliza horizontalmente */
            min-height: 100px; /* Define uma altura mínima para o footer */
            padding: 10px 0;
        }


footer a {
            color: white; /* Define a cor do link como branca */
            display: flex; /* Permite o alinhamento vertical */
            align-items: center; /* Centraliza o ícone e o texto verticalmente */
            gap: 5px; /* Espaçamento entre o ícone e o texto */
        }

footer p {
            margin: 10px 0 0; /* Adiciona uma pequena margem superior ao parágrafo */
        }
        
